/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */
:root {
  /* colors */
  --color-accent-100: hsl(211, 100%, 80%);
  --color-accent-200: hsl(152, 100%, 70%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(0, 0%, 95%);
  --color-neutral-300: hsl(0, 0%, 85%);
  --color-neutral-400: hsl(0, 0%, 55%);
  --color-neutral-700: hsl(0, 0%, 40%);
  --color-neutral-800: hsl(0, 0%, 23%);
  --color-neutral-900: hsl(0, 0%, 0%);

  /* typography */
  --ff-primary: 'Poppins', sans-serif;
  
  --ff-body: var(--ff-primary);
  --ff-primary-heading: var(--ff-primary);
  --ff-secondary-heading: var(--ff-primary);
  --ff-tertiary-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 600;

  --fs-200: 0.625rem;
  --fs-300: 0.875rem;
  --fs-500: 1.25rem;
}

@media (min-width: 36em) {
  :root {
    --fs-300: 1rem;
    --fs-500: 1.375rem;
  }
}

/* -------------- */
/* RESETS         */
/* -------------- */
/* box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

/* make images easier to work with */
img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* make forms elements easier to work with */
input,
button,
textarea, 
select {
  font: inherit;
  outline: 0;
}

button { 
  border: 0; 
  background-color: transparent;
  cursor: pointer;
}

/* default styles */
a {
  text-decoration: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-block-size: 100vh;

  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--color-neutral-900);

  background-color: var(--color-neutral-200);
}

/* -------------- */
/* UTILITY        */
/* -------------- */
/* typography */
.color-accent-100 { color: var(--color-accent-100); }
.color-accent-200 { color: var(--color-accent-200); }
.color-neutral-100 { color: var(--color-neutral-100); }
.color-neutral-200 { color: var(--color-neutral-200); }
.color-neutral-300 { color: var(--color-neutral-300); }
.color-neutral-400 { color: var(--color-neutral-400); }
.color-neutral-700 { color: var(--color-neutral-700); }
.color-neutral-800 { color: var(--color-neutral-800); }
.color-neutral-900 { color: var(--color-neutral-900); }

.ff-primary { font-family: var(--ff-primary); }
.ff-primary-heading { font-family: var(--ff-primary-heading); }
.ff-secondary-heading { font-family: var(--ff-secondary-heading); }
.ff-tertiary-heading { font-family: var(--ff-tertiary-heading); }

.fw-regular { font-weight: var(--fw-regular); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }

/* background */
.bg-accent-100 { background-color: var(--color-accent-100); } 
.bg-accent-200 { background-color: var(--color-accent-200); } 
.bg-neutral-100 { background-color: var(--color-neutral-100); } 
.bg-neutral-200 { background-color: var(--color-neutral-200); } 
.bg-neutral-300 { background-color: var(--color-neutral-300); } 
.bg-neutral-400 { background-color: var(--color-neutral-400); } 
.bg-neutral-700 { background-color: var(--color-neutral-700); } 
.bg-neutral-800 { background-color: var(--color-neutral-800); } 
.bg-neutral-900 { background-color: var(--color-neutral-900); }

/* others */
.container {
  --max-width: 1110px;
  --padding: 1rem;

  inline-size: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* -------------- */
/* COMPONENTS     */
/* -------------- */
/* promotion-card */
.promotion-component {
  --width: min(100%, 25rem);

  inline-size: var(--width);
  font-size: var(--fs-300);
}

.promotion-component > .promotion-card-container {
  --direction: row;
  
  inline-size: 100%;
  display: grid;
  grid-auto-flow: var(--direction);
  /* grid-auto-columns: auto; */
}

.promotion-component .promotion-card-body {
  --spacing: 1.5rem;
  --gap: 1rem;

  padding: var(--spacing);
  display: grid;
  gap: var(--gap);

  background-color: var(--color-neutral-100);
}

.promotion-component .promotion-card-headline {
  --gap: 0.15rem;
  
  display: grid;
  gap: var(--gap);
}

.promotion-component .promotion-card-headline  > .promotion-card-title {
  font-size: var(--fs-500);
}

.promotion-component .promotion-card-supporting-text {
  line-height: 1.75;
}

.promotion-component .promotion-card-actions {
  margin-block-start: calc(var(--spacing) - var(--gap));

  display: flex;
  gap: var(--spacing);
}

.promotion-component .promotion-card-thumbnail {
  grid-row: 1 / 2;
}

@media (min-width: 64em) {
  .promotion-component {
    --width: 28rem;
  }

  .promotion-component .promotion-card-body {
    --spacing: 1.75rem;
  }
}

/* promotion-card: buttons */
.promotion-component .promotion-card-primary-button {
  padding-inline: 1em;
  padding-block: 0.5em;

  text-transform: lowercase;
  color: var(--color-neutral-800);
  border: 1px solid var(--color-accent-100);
}

.promotion-component .promotion-card-secondary-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  text-transform: lowercase;
  color: var(--color-neutral-400);
}

/* promotion-card: tags */
.promotion-component .promotion-card-tag {
  inline-size: max-content;
  padding-inline: 0.275em;

  font-size: var(--fs-200);
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: var(--color-neutral-900);
}

.promotion-component .promotion-card-tag.all-customers {
  background-color: var(--color-accent-100);
}

.promotion-component .promotion-card-tag.new-customers {
  background-color: var(--color-accent-200);
}