/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */
:root {
  /* colors */
  --color-accent-100: hsl(211, 100%, 80%);
  --color-accent-200: hsl(152, 100%, 70%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(0, 0%, 95%);
  --color-neutral-300: hsl(0, 0%, 85%);
  --color-neutral-400: hsl(0, 0%, 55%);
  --color-neutral-700: hsl(0, 0%, 45%);
  --color-neutral-800: hsl(0, 0%, 23%);
  --color-neutral-900: hsl(0, 0%, 0%);

  /* typography */
  --ff-primary: 'Poppins', sans-serif;
  
  --ff-body: var(--ff-primary);
  --ff-primary-heading: var(--ff-primary);
  --ff-secondary-heading: var(--ff-primary);
  --ff-tertiary-heading: var(--ff-primary);

  --clr-primary-heading: var(--color-neutral-900);

  --fw-regular: 400;
  --fw-semi-bold: 600;

  --fs-200: 0.625rem;
  --fs-300: 0.875rem;
  --fs-500: 1.25rem;
  --fs-700: 1.75rem;
}

@media (min-width: 36em) {
  :root {
    --fs-300: 1rem;
    --fs-500: 1.375rem;
  }
}

@media (min-width: 36em) {
  :root {
    --fs-700: 2rem;
  }
}

/* -------------- */
/* RESETS         */
/* -------------- */
/* box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

/* make images easier to work with */
img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* make forms elements easier to work with */
input,
button,
textarea, 
select {
  font: inherit;
  outline: 0;
}

button { 
  border: 0; 
  background-color: transparent;
  cursor: pointer;
}

/* default styles */
a {
  text-decoration: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-block-size: 100vh;

  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--color-neutral-900);

  background-color: var(--color-neutral-200);
}

/* -------------- */
/* UTILITY        */
/* -------------- */
/* display */
.flex { display: flex; }

.space-between { justify-content: space-between; }

.justify-center { justify-content: center; }

.place-center { place-items: center; }

.wrap { flex-wrap: wrap; }

/* spacing */
.gap-1 { gap: 0.25rem; }
.gap-2 { gap: 0.5rem; }
.gap-3 { gap: 0.75rem; }
.gap-4 { gap: 1rem; }
.gap-5 { gap: 1.25rem; }
.gap-6 { gap: 1.5rem; }
.gap-7 { gap: 1.75rem; }
.gap-8 { gap: 2rem; }
.gap-9 { gap: 2.25rem; }
.gap-10 { gap: 2.5rem; }

.py-1 { padding-block: 0.25rem; }
.py-2 { padding-block: 0.5rem; }
.py-3 { padding-block: 0.75rem; }
.py-4 { padding-block: 1rem; }
.py-5 { padding-block: 1.25rem; }
.py-6 { padding-block: 1.5rem; }
.py-7 { padding-block: 1.75rem; }
.py-8 { padding-block: 2rem; }
.py-9 { padding-block: 2.25rem; }
.py-10 { padding-block: 2.5rem; }

/* typography */
.color-accent-100 { color: var(--color-accent-100); }
.color-accent-200 { color: var(--color-accent-200); }
.color-neutral-100 { color: var(--color-neutral-100); }
.color-neutral-200 { color: var(--color-neutral-200); }
.color-neutral-300 { color: var(--color-neutral-300); }
.color-neutral-400 { color: var(--color-neutral-400); }
.color-neutral-700 { color: var(--color-neutral-700); }
.color-neutral-800 { color: var(--color-neutral-800); }
.color-neutral-900 { color: var(--color-neutral-900); }

.ff-primary { font-family: var(--ff-primary); }
.ff-primary-heading { font-family: var(--ff-primary-heading); }
.ff-secondary-heading { font-family: var(--ff-secondary-heading); }
.ff-tertiary-heading { font-family: var(--ff-tertiary-heading); }

.fw-regular { font-weight: var(--fw-regular); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }

.pmr-heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
  font-family: var(--ff-primary-heading);
  color: var(--clr-primary-heading);
}

.heading-extra {
  position: relative;
}

.heading-extra::after {
  position: absolute;
  top: 0;
  left: 0;
  
  content: '';
  
  padding-inline: 0.75em;
  padding-block: 0.15rem;
  background-color: var(--color-accent-100);
}

/* background */
.bg-accent-100 { background-color: var(--color-accent-100); } 
.bg-accent-200 { background-color: var(--color-accent-200); } 
.bg-neutral-100 { background-color: var(--color-neutral-100); } 
.bg-neutral-200 { background-color: var(--color-neutral-200); } 
.bg-neutral-300 { background-color: var(--color-neutral-300); } 
.bg-neutral-400 { background-color: var(--color-neutral-400); } 
.bg-neutral-700 { background-color: var(--color-neutral-700); } 
.bg-neutral-800 { background-color: var(--color-neutral-800); } 
.bg-neutral-900 { background-color: var(--color-neutral-900); }

/* others */
.container {
  --max-width: 1110px;
  --padding: 1rem;

  inline-size: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* -------------- */
/* COMPONENTS     */
/* -------------- */
/* promotion-card */
.promotion-component {
  --width: min(100%, 25rem);

  inline-size: var(--width);
  font-size: var(--fs-300);
}

.promotion-component > .promotion-card-container {
  --direction: row;
  
  inline-size: 100%;
  display: grid;
  grid-auto-flow: var(--direction);
}

.promotion-component .promotion-card-body {
  --spacing: 1.5rem;
  --gap: 1rem;

  padding: var(--spacing);
  display: grid;
  gap: var(--gap);

  background-color: var(--color-neutral-100);
}

.promotion-component .promotion-card-headline {
  --gap: 0.15rem;
  
  display: grid;
  gap: var(--gap);
}

.promotion-component .promotion-card-headline  > .promotion-card-title {
  font-size: var(--fs-500);
}

.promotion-component .promotion-card-supporting-text {
  line-height: 1.75;
}

.promotion-component .promotion-card-actions {
  margin-block-start: calc(var(--spacing) - var(--gap));

  display: flex;
  gap: var(--spacing);
}

.promotion-component .promotion-card-thumbnail {
  grid-row: 1 / 2;
}

@media (min-width: 64em) {
  .promotion-component {
    --width: 28rem;
  }

  .promotion-component .promotion-card-body {
    --spacing: 1.75rem;
  }
}

/* promotion-card: buttons */
.promotion-component .promotion-card-primary-button {
  padding-inline: 1em;
  padding-block: 0.5em;

  text-transform: lowercase;
  color: var(--color-neutral-800);
  border: 1px solid var(--color-accent-100);
}

.promotion-component .promotion-card-secondary-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  text-transform: lowercase;
  color: var(--color-neutral-400);
}

/* promotion-card: tags */
.promotion-component .promotion-card-tag {
  inline-size: max-content;
  padding-inline: 0.275em;

  font-size: var(--fs-200);
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: var(--color-neutral-900);
}

.promotion-component .promotion-card-tag.all-customers {
  background-color: var(--color-accent-100);
}

.promotion-component .promotion-card-tag.new-customers {
  background-color: var(--color-accent-200);
}

/* promotion filter */
.filter {
  --filter-padding: 0.75rem;
  --filter-border-radius: 0.3125rem;
  --filter-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --filter-background-color: var(--color-neutral-100);
  
  position: relative;
  inline-size: max-content;
}

.filter-button {
  display: flex;
  
  padding: var(--filter-padding);

  color: var(--color-neutral-300);
  box-shadow: var(--filter-box-shadow);
  border-radius: var(--filter-border-radius);
  background-color: var(--filter-background-color);
  
  transition: color 300ms;
}

.filter-button svg{
  pointer-events: none;
}

.filter-button:hover {
  color: var(--color-neutral-700);
}

.filter-options {
  position: absolute;
  top: calc(100% + 0.25rem);
  right: 0;

  inline-size: 13rem;

  font-size: var(--fs-300);
  color: var(--color-neutral-700);
  
  box-shadow: var(--filter-box-shadow);
  border-radius: var(--filter-border-radius);
  background-color: var(--filter-background-color);

  opacity: 0;
  transform: translateY(-5px);
  transition: 
    opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1),
    transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);

  pointer-events: none;
}

.filter-options > .filter-option {
  padding: calc(var(--filter-padding)); 
  cursor: pointer;

  transition: color 300ms;
}

.filter-options > .filter-option:hover {
  color: var(--color-neutral-900);
}

.filter-options > .filter-option:not(:last-child) {
  border-bottom: solid 1px var(--color-neutral-200);
}

.filter > .filter-button + .filter-options.active {
  opacity: 1;
  transform: translateY(0);
  
  pointer-events: auto;
}