/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */
:root {
  /* colors */
  --color-accent-100: hsl(211, 100%, 80%);
  --color-accent-200: hsl(152, 100%, 70%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(0, 0%, 95%);
  --color-neutral-300: hsl(0, 0%, 85%);
  --color-neutral-400: hsl(0, 0%, 71%);
  --color-neutral-700: hsl(0, 0%, 40%);
  --color-neutral-800: hsl(0, 0%, 23%);
  --color-neutral-900: hsl(0, 0%, 0%);

  /* typography */
  --ff-primary: 'Poppins', sans-serif;
  
  --ff-body: var(--ff-primary);
  --ff-primary-heading: var(--ff-primary);
  --ff-secondary-heading: var(--ff-primary);
  --ff-tertiary-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/* -------------- */
/* RESETS         */
/* -------------- */
/* box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

/* make images easier to work with */
img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* make forms elements easier to work with */
input,
button,
textarea, 
select {
  font: inherit;
  outline: 0;
}

button { 
  border: 0; 
  background-color: transparent;
  cursor: pointer;
}

/* default styles */
a {
  text-decoration: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-block-size: 100vh;

  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--color-neutral-900);

  background-color: var(--color-neutral-200);
}

/* -------------- */
/* UTILITY        */
/* -------------- */
/* typography */
.color-accent-100 { color: var(--color-accent-100); }
.color-accent-200 { color: var(--color-accent-200); }
.color-neutral-100 { color: var(--color-neutral-100); }
.color-neutral-200 { color: var(--color-neutral-200); }
.color-neutral-300 { color: var(--color-neutral-300); }
.color-neutral-400 { color: var(--color-neutral-400); }
.color-neutral-700 { color: var(--color-neutral-700); }
.color-neutral-800 { color: var(--color-neutral-800); }
.color-neutral-900 { color: var(--color-neutral-900); }

.ff-primary { font-family: var(--ff-primary); }
.ff-primary-heading { font-family: var(--ff-primary-heading); }
.ff-secondary-heading { font-family: var(--ff-secondary-heading); }
.ff-tertiary-heading { font-family: var(--ff-tertiary-heading); }

.fw-regular { font-weight: var(--fw-regular); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }

/* background */
.bg-accent-100 { background-color: var(--color-accent-100); } 
.bg-accent-200 { background-color: var(--color-accent-200); } 
.bg-neutral-100 { background-color: var(--color-neutral-100); } 
.bg-neutral-200 { background-color: var(--color-neutral-200); } 
.bg-neutral-300 { background-color: var(--color-neutral-300); } 
.bg-neutral-400 { background-color: var(--color-neutral-400); } 
.bg-neutral-700 { background-color: var(--color-neutral-700); } 
.bg-neutral-800 { background-color: var(--color-neutral-800); } 
.bg-neutral-900 { background-color: var(--color-neutral-900); } 